.food-item {
    width: 100%;
    /* margin: auto; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    cursor: pointer;
}

.food-item:hover {
    transform: translateY(-3px);
}

.food-item-img {
    width: 280px;
    border-radius: 15px 15px 0px 0px;
}

.add-to-cart, .food-item-counter-container {
    position: relative;
    background-color: rgb(232, 232, 232);
    box-shadow: 5px 7px 10px #0000002d;
    text-align: center;
    color: rgb(11, 153, 11);
    font-weight: 600;
    border-radius: 0.2rem;
    padding: 10px;
    width: 110px;
    margin: -25px 15px 0 auto;
    transition: 0.3s;
}

.add-to-cart:hover {
    transform: translateX(-2px);
}

.add-to-cart p {
    animation: fadeIn 1s;
}

.food-item-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: fadeIn 1s;
}

.cart-operation-icon {
    transition: 0.2s;
}

.food-item-counter .cart-operation-icon:hover {
    transform: scale(1.2);
}

.food-item-info {
    padding: 20px;
}

.food-item-restaurant {
    font-size: 20px;
    font-weight: 480;
    margin-bottom: 6px;
    color: #191919;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
} 

.food-item-name-rating p {
    font-size: 19px;
    font-weight: 450;
    color: #303030;
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #676767;
}   

.food-item-price {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}

