@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

.app-content {
  display: flex;
  min-height: 100vh;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media(max-width: 650px) {
  .app {
    width: fit-content;
  }
}
