.cart {
    margin-top: 50px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    padding: 25px;
    width: 50%;
    gap: 10px;
    margin: 0 25%;
}

.empty-cart h2 {
    text-align: center;
    margin-bottom: 5px;
}

.empty-cart-bg {
    background-image: url("../../assets/food-cart.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 400px;
}

.empty-cart-redirect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.empty-cart-redirect button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;
    transition: 0.1s ease-out;
    width: 30%;
    margin: 0 35.5%;
}

.empty-cart-redirect button:hover {
    transform: translateX(5px);
}


.cart-header {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 50px;
}

.color-header {
    color: rgb(255, 38, 0);
}

.cart-items {
    display: flex;
}

.cart-items-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    background: linear-gradient(180deg, rgba(238, 42, 7, 0.113), white);
    box-shadow: 5px 7px 10px #0000002d;
    border-radius: 8px;
    padding: 35px 35px;
}

.cart-item-details {
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 1.5fr 0.4fr;
    gap: 15px;
}

.cart-item-details img {
    width: 150px;
    border-radius: 8px;
    box-shadow: 5px 7px 10px #0000002d;
}

.cart-item-details-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.item-name {
    font-size: 19px;
    font-weight: 500;
}

.rest-name {
    font-size: 16px;
    font-weight: 400;
}

.cart-item-counter-price-trash {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    padding: 15px 10px;
}

.cart-item-counter-price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item-counter-price-trash p {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.cart-item-counter-container {
    border: 1.6px solid tomato;
    border-radius: 6px;
    padding: 10px;
}

.cart-item-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s;
}

.cart-item-counter .cart-operation-icon {
    cursor: pointer;
}

.cart-item-counter .cart-operation-icon:hover {
    transform: scale(1.2);
}

.cart-item-trash {
    display: flex;
    justify-content: end;
}

.trash-icon {
    font-size: 20px;
    cursor: pointer;
    margin: 12px 8px;
}

.trash-icon:hover {
    transform: scale(1.05);
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    gap: 70px;
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total h2 {
    font-size: 25px;
}

.cart-total hr {
    margin: 10px 0px;
    color: #555;
}

.cart-total-details-container {
    background: linear-gradient(180deg, rgba(238, 42, 7, 0.113), white);
    box-shadow: 5px 7px 10px #0000002d;
    border-radius: 8px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
}

.cart-total-details-container button {
    margin-top: 20px;
    border: none;
    color: white;
    background-color: black;
    width: max(15vw, 200px);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-out;
}

.cart-total-details-container button:hover {
    transform: translateX(5px);
}

.cart-promocode {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-promocode h2 {
    font-size: 25px;
}

.cart-promocode-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(180deg, rgba(238, 42, 7, 0.113), white);
    box-shadow: 5px 7px 10px #0000002d;
    border-radius: 8px;
    padding: 35px 40px;
}

.cart-promocode-input {
    background-color: #e5e5e58a;
    display: flex;
    justify-content: space-between;
}

.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    width: 80%;
}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-out;
}

.cart-promocode-input button:hover {
    transform: translateX(5px);
}

@media (max-width: 1250px) {
    .cart-item-details {
        grid-template-columns: 0.2fr 1.2fr 0.4fr;
        gap: 10px;
    }
}

@media (max-width: 1050px) {
    .empty-cart-bg {
        height: 300px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.9fr 0.4fr;
        gap: 10px;
    }

    .cart-bottom {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .cart-promocode {
        justify-content: start;
    }
}

@media (max-width: 950px) {
    .cart-item-details {
        grid-template-columns: 0.2fr 0.7fr 0.4fr;
        gap: 10px;
    }
}

@media (max-width: 815px) {
    .empty-cart {
        width: 60%;
        margin: 0 20%;
    }

    .empty-cart-bg {
        height: 300px;
    }

    .cart-item-details img {
        width: 120px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.6fr 0.4fr;
        gap: 10px;
    }
}

@media (max-width: 736px) {
    .empty-cart {
        width: 70%;
        margin: 0 15%;
    }

    .empty-cart-bg {
        height: 320px;
    }

    .cart-item-details img {
        width: 120px;
    }

    .item-name {
        font-size: 17px;
    }

    .rest-name {
        font-size: 14px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.6fr 0.6fr;
        gap: 10px;
    }
}

@media (max-width: 646px) {
    .empty-cart {
        width: 80%;
        margin: 0 10%;
    }

    .empty-cart-bg {
        height: 340px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.5fr 0.6fr;
        gap: 10px;
    }
}

@media (max-width: 614px) {
    .cart-item-details img {
        width: 105px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.5fr 0.8fr;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .cart-items-title {
        padding: 30px 20px;
    }

    .empty-cart-bg {
        height: 270px;
    }

    .empty-cart-redirect button {
        width: 40%;
        margin: 0 30%;
    }

    .cart-item-details img {
        width: 90px;
    }

    .item-name {
        font-size: 16px;
    }

    .rest-name {
        font-size: 13px;
    }


    .cart-item-details {
        grid-template-columns: 0.2fr 0.8fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .empty-cart {
        width: 100%;
        margin: 0;
    }

    .empty-cart-bg {
        height: 330px;
    }

    .cart-items-title {
        padding: 20px 15px;
    }

    .cart-item-details img {
        width: 80px;
    }

    .cart-item-details-name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 8px;
    }

    .item-name {
        font-size: 15px;
    }

    .rest-name {
        font-size: 12px;
    }

    .cart-item-counter-price-trash, .cart-item-counter-price-trash p{
        font-size: 14px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.9fr 1fr;
        gap: 0px;
    }

    .cart-item-counter-price-trash {
        grid-template-columns: 1fr 0fr;
        padding: 6px;
    }
}

@media (max-width: 440px) {
    .empty-cart-bg {
        height: 280px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.9fr 1.3fr;
        gap: 0px;
    }
}

@media (max-width: 396px) {
    .empty-cart-bg {
        height: 250px;
    }

    .cart-item-details img {
        width: 70px;
    }
  
    .item-name {
        font-size: 14px;
    }

    .rest-name {
        font-size: 10px;
    }

    .cart-item-counter-price-trash, .cart-item-counter-price-trash p{
        font-size: 13px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.8fr 1.3fr;
        gap: 0px;
    }
}

@media (max-width: 361px) {
    .empty-cart-bg {
        height: 230px;
    }

    .cart-item-counter-price-trash, .cart-item-counter-price-trash p{
        font-size: 13px;
    }

    .cart-item-details {
        grid-template-columns: 0.2fr 0.8fr 1.5fr;
        gap: 0px;
    }
}