.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navbar .logo {
    width: 300px;
    border-radius: 6px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    gap: 30px;
    padding: 10px;
    color: #49557e;
    cursor: pointer;
}

.navbar-menu a {
    position: relative;
    transition: color 0.3s;
}
.navbar-menu a::after {
    content: "";
    position: absolute;
    left: 0; right: 0; bottom: -3px;
    height: 2.5px;
    border-radius: 1rem;
    background: #49557e;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: left;
}
.navbar-menu a.active::after {
    transform: scaleX(1);
}

.navbar-right {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 30px;
    color: #49557e;
}

.navbar-right .search-icon {
    cursor: pointer;
}

.navbar-cart-icon{
    position: relative;
    cursor: pointer;
}

.navbar-cart-icon .dot {
    position: absolute;
    background-color: tomato;
    border-radius: 5px;
    min-height: 10px;
    min-width: 10px;
    top: -8px;
    right: -8px;
}

.navbar button {
    font-size: 1.2rem;
    padding: 12px 30px;
    background: transparent;
    color: #49557e;
    border: 1px solid rgba(255, 99, 71, 0.89);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.nav-profile {
    position: relative;
}

.nav-profile-icon {
    font-size: 25px;
    cursor: pointer;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    /* top: 2rem; */
    right: 0;
    z-index: 1;
}

.nav-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 16px 25px;
    border: 1px solid black;
    border-radius: 6px;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li, .nav-profile-dropdown li a {
    display: flex;
    padding: 2px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    color: #49557e;
    transition: 0.2s;
}

.nav-profile-dropdown li:hover {
    transform: translateX(-3px);
    font-weight: 500;
}


@media(max-width: 1050px) {
    .navbar .logo {
        width: 180px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .navbar-right {
        gap: 15px;
    }

    .navbar-right {
        font-size: 16px;
    }

    .navbar-right button {
        font-size: 16px;
        text-wrap: nowrap;
        padding: 12px 25px;
    }

    .nav-profile-icon {
        font-size: 21px;
        cursor: pointer;
    }
}

@media(max-width: 900px) {
    .navbar .logo {
        width: 160px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 14.5px;
        text-wrap: wrap;
    }

    .navbar-right {
        gap: 16px;
    }

    .navbar-right {
        font-size: 14.5px;
    }

    .navbar-right button {
        font-size: 14.5px;
        text-wrap: nowrap;
        padding: 12px 20px;
    }
}

@media(max-width: 750px) {
    .navbar-menu{
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar .logo {
        width: 140px;
    }

    .nav-profile-icon {
        font-size: 20px;
        cursor: pointer;
    }
}

@media (max-width: 376px) {
    .navbar .logo {
        width: 130px;
    }
}

@media (max-width: 365px) {
    .navbar-right {
        font-size: 13px;
    }

    .navbar-right button {
        font-size: 13px;
        padding: 12px 20px;
    }
}

@media (max-width: 345px) {
    .navbar-right {
        font-size: 12px;
        gap: 14px;
    }

    .navbar-right button {
        font-size: 12px;
        padding: 12px 20px;
    }
}