.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navbar .logo {
    width: 300px;
    border-radius: 6px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.1rem;
    gap: 30px;
    padding: 10px;
    color: #49557e;
    cursor: pointer;
}

.searchBar {
    display: flex;
    gap: 12px;
    width: 40%;
    transition: 0.2s;
}

.searchBar input{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    font-size: 0.9rem;
    width: 100%;
}

.navbar-menu a {
    position: relative;
    transition: color 0.3s;
}
.navbar-menu a::after {
    content: "";
    position: absolute;
    left: 0; right: 0; bottom: -3px;
    height: 2.5px;
    border-radius: 1rem;
    background: #49557e;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: left;
}
.navbar-menu a.active::after {
    transform: scaleX(1);
}

.navbar-right {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 30px;
    color: #49557e;
}

.navbar-right .hamburger {
    display: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar-right .search-icon {
    cursor: pointer;
    font-size: 1.3rem;
}

.navbar-cart-icon{
    position: relative;
    cursor: pointer;
}

.navbar-cart-icon .dot {
    position: absolute;
    background-color: tomato;
    border-radius: 5px;
    min-height: 10px;
    min-width: 10px;
    top: -8px;
    right: -8px;
}

.navbar button {
    font-size: 1.2rem;
    padding: 12px 30px;
    background: transparent;
    color: #49557e;
    border: 1px solid rgba(255, 99, 71, 0.89);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.searchBar button{
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: black;
    color: white;
    border: none;
}

.searchBar button:hover {
    transform: translateX(3px);
    background-color: black;
    color: white;
}

.nav-profile {
    position: relative;
}

.nav-profile-icon {
    font-size: 25px;
    cursor: pointer;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    top: 5.5rem;
    right: 10%;
    z-index: 1;
    animation: fadeIn 0.1s;
}

.nav-profile-clicked .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    width: 185px;
    gap: 10px;
    background-color: white;
    padding: 16px 25px;
    border: 1px solid black;
    border-radius: 6px;
    outline: 2px solid white;
    list-style: none;  
}

.nav-profile-dropdown li, .nav-profile-dropdown li a {
    display: flex;
    padding: 2px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 19px;
    color: #49557e;
    transition: 0.2s;
}

.nav-profile-dropdown li:hover {
    transform: translateX(-3px);
    font-weight: 500;
}


@media(max-width: 1220px) {
    .navbar .logo {
        width: 180px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
        text-wrap: nowrap;
    }

    .navbar-right {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right .search-icon {
        font-size: 1.1rem;
    }

    .navbar-right button {
        font-size: 16px;
        text-wrap: nowrap;
        padding: 12px 25px;
    }

    .nav-profile-icon {
        font-size: 21px;
        cursor: pointer;
    }

    .nav-profile-dropdown {
        top: 4.5rem;
    }

    .searchBar {
        width: 45%;
    }
}

@media(max-width: 900px) {
    .navbar .logo {
        width: 160px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 14.5px;
        text-wrap: wrap;
    }

    .navbar-right {
        gap: 16px;
    }

    .navbar-right {
        font-size: 14.5px;
    }

    .navbar-right button {
        font-size: 14.5px;
        text-wrap: nowrap;
        padding: 12px 20px;
    }

    .nav-profile-clicked .nav-profile-dropdown {
        width: 165px;
        padding: 16px 20px;
    }

    .nav-profile-dropdown li, .nav-profile-dropdown li a {
        font-size: 15px;
    }
}

@media(max-width: 810px) {
    .navbar-menu{
        display: none;
    }

    .searchBar {
        display: flex;
        width: 50%;
    }

    .searchBar input{
        font-size: 0.7rem;
        width: 100%;
    }

    .searchBar button{
        font-size: 0.7rem;
    }
}

@media(max-width: 640px) {
    .nav-profile-dropdown {
        top: 5rem;
        right: 5%;
    }
}

@media (max-width: 480px) {
    .navbar .logo {
        width: 120px;
    }

    .nav-profile-icon {
        font-size: 20px;
        cursor: pointer;
    }

    .nav-profile-dropdown {
        top: 3.5rem;
    }

    .nav-profile-clicked .nav-profile-dropdown {
        width: 140px;
        padding: 16px 15px;
    }

    .nav-profile-dropdown li, .nav-profile-dropdown li a {
        font-size: 13.5px;
    }

    .searchBar input{
        padding: 10px;
        font-size: 0.6rem;
        width: 100%;
    }

    .searchBar button{
        font-size: 0.6rem;
        width: 27%;
        padding: 0 20px 0 12px;
    }
}

@media (max-width: 455px) {
    .navbar .logo {
        width: 110px;
    }

    .searchBar button{
        width: 30%;
    }
}

@media (max-width: 376px) {
    .navbar .logo {
        width: 90px;
    }

    .navbar-right {
        font-size: 13px;
    }

    .navbar-right button {
        font-size: 13px;
        padding: 12px 20px;
    }

    .searchBar button{
        width: 32%;
    }
}

@media (max-width: 345px) {
    .navbar-right {
        font-size: 12px;
        gap: 14px;
    }

    .navbar-right button {
        font-size: 12px;
        padding: 12px 20px;
    }
}