@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Outfit;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body{
  background-color: #fcfcfc;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  
  width: 80%;
  margin: 0 auto;
  flex: 1;
}

.app-content {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(max-width: 640px) {
  .app {
    width: 90%;
  }
}

@media(max-width: 325px) {
  :root{
    width: 40vh;
  }
}