.header {
    height: 34vw;
    margin: 30px auto;
    background: url('../../assets/header_img.png') no-repeat;
    background-size: contain;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
    gap: 1.5rem;
    bottom: 20%;
    left: 17vw;
    animation: fadeIn 2s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    padding: 1vw 1.3vw;
    background-color: white;
    color: #747474;
    font-weight: 500;
    font-size: max(1vw, 13px);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.header-contents button:hover {
    background-color: black;
    color: white;
}