/* .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    width: 100%;
} */

.list-table-format {
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr 1fr 0.5fr;
    align-items: center;

    font-size: 15px;
    gap: 20px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
}

.list-table-format b, .list-table-format p {
    padding: 1rem;
}

.list-table-format.title {
    font-size: 16px;
    background-color: #f9f9f9;
}

.food-img {
    width: 120px;
    border-radius: 0.3rem;
}

.food-img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in;
}

.remove-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.remove-icon:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease-in;
}

@media(max-width: 600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
}